*{
	margin: 0;
	padding: 0;
}
body{
	font-family: poppins;
}
.header{
	width: 100%;
	height: 100vh;
	background-image: url(../image/bg-home.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.navbar.fixed-top.scrolled {
	background-color: rgb(22, 22, 22, 0.7) !important;
	transition: background-color 400ms linear;
}
/* home */
.desc{
	color: #fff;
	width: 100%;
	margin-top: 30vh;
	text-align: center;
}
.desc h1{
	color: #fff;
	font-weight: 200;
	font-size: 79px;
}

.desc h3{
	font-size: 40px;
	font-weight: 100;
}

.desc p {
    font-size: 40px;
	font-weight: 200;
}
@media screen and (max-width: 900px) {
    .desc h1{
        color: #fff;
        font-weight: 200;
        font-size: 59px;
    }
    
    .desc h3{
        font-size: 30px;
        font-weight: 100;
    }
    
    .desc p {
        font-size: 30px;
        font-weight: 200;
    }
}
/* judul diri */
.judul-diri h1 {
	color: #333;
	margin-bottom: 50px;
	font-weight: 250;
	font-size: 50px;
	text-align: center;
}
.judul-diri strong {
	color: #0096FF;
}
@media screen and (max-width: 900px) {
    .judul-diri h1 {
        margin-bottom: 30px;
        font-weight: 250;
        font-size: 42px;
        text-align: center;
    } 
}
/*about*/
.profil {
    padding-top: 100px; 
    padding-bottom: 100px;
}
.bg-about {
    background-color: #fff;
}
.photo{

	max-width: 300px;
	background-image: url(../image/foto-profil.jpg);
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.judul-about {
	color: #303030;
	margin-bottom: 30px;
}
.about {
	color: #333;
	padding-top: 30px;
	line-height: 1.7;
	margin-bottom: 30px;
}
.judul-about h1 {
	font-size: 40px;
}
p {
	font-size: 17px;
}
p.bio-about {
	font-size: 20px;
}
@media screen and (max-width: 900px) {
    .profil {
        padding-top: 100px;
    }
    .photo{
        max-width: 250px;
        height: 250px;
    }
    .judul-about {
        margin-bottom: 25px;
    }
    .about {
        padding-top: 30px;
        line-height: 1.7;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
    }
    .judul-about h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    p.bio-about {
        font-size: 17px;
    }
}
/* kategori */
.text-categories {
	margin: 0;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 10px;
	cursor: pointer;
	transition: .7s;
	background-color: rgba(0,0,0, 0.7);
}
.text-categories:hover {
	background-color: rgba(0,0,0, 0.2);
}
.text-cater {
	width: 100%;
}
.text-cater h1 {
	font-weight: bold;
    font-size: 20px;
	letter-spacing: 1.5px;
	color: #FFF;
}
.categories1 {	
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
	transition: .5s ease;
	background-image: url(../image/web-design.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.categories1:hover {	
	width: 100%;
	height: 320px;
	position: relative;
	text-align: center;
	background-image: url(../image/web-design.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.categories2 {	
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
	transition: .5s ease;
	background-image: url(../image/programming.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.categories2:hover {	
	width: 100%;
	height: 320px;
	position: relative;
	text-align: center;
	background-image: url(../image/programming.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.categories3 {	
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
	transition: .5s ease;
	background-image: url(../image/mobile.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.categories3:hover {	
	width: 100%;
	height: 320px;
	position: relative;
	text-align: center;
	background-image: url(../image/mobile.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.categories4 {	
	width: 100%;
	height: 300px;
	position: relative;
	text-align: center;
	transition: .5s ease;
	background-image: url(../image/video-editing.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.categories4:hover {	
	width: 100%;
	height: 320px;
	position: relative;
	text-align: center;
	background-image: url(../image/video-editing.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.categories img {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	
}
/* project */
.bg-project {
	width: 100%;;
	height: 1354px;
	background-image: url(../image/bg-portofolio.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.bg-protofolio{
	background-color: #0096FF;
	width: 100%;
	
}

.foto-porto{
	width: 100%;
	background-color: #fff;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, .7);
	margin-bottom: 50px;

}

.foto-porto img{
	width: 100%;
}

.project-left h2 {
	color: #fff;
	margin-top: 20px;
}

.project-left p {
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
}

.portoki{
	width: 100%;
	
}
.web{

	width: 100%;
	text-align: center;
	color: #333;
	margin: 100px 20px 50px;
	padding: 10px 20px 40px;


}

.bg-web{
	width: 300px;
	background-color:#fff;
	margin: 200px auto 0 ;
	padding: 50px;
	border-radius: 50%;	
}

.web h2 {
	color: #fff;
	margin-top: 20px;
}

.web p {
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
}


.bg-web img{
	width: 100%;

}
.subs
{
	background-color: #fff;
	padding: 4% 0;
	margin-top: 11%;
}
